trigger-on-tag:
  stage: deploy
  rules:
    # - if: '$CI_COMMIT_BRANCH =~ /^(main|v[0-9.]+\.x)$/'  # runs on master and release *branch* commits (since gitlab pull-*mirrors* cannot trigger tag pipelines)
    - if: '$CI_COMMIT_BRANCH'
    - if: '$CI_COMMIT_TAG'
  tags:
    - os/linux
    - type/docker
  image: alpine
  # check if a git tag is associated with current commit
  script:
    - echo "CI_COMMIT_BRANCH is $CI_COMMIT_BRANCH"
    - echo "CI_COMMIT_TAG is $CI_COMMIT_TAG"
